body{
    font-family: sans-serif;
}
html,
.fullscreen {
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    text-align: center;
}
.title{
    font-size: 3rem;
}
.menu{
    display: flex;
    background: green;
    margin: 0px;
    width: 100%;
}

.menu li{
    list-style: none;
    border-right: 2px solid black;
    padding: 0px 10px;
    line-height: 40px;
    font-size: 18px;
}
.menu li a{
    color: white;
    text-decoration: none;
}

main{
    text-align: center;
}